<h1> Listing all the articles</h1><br/>

Create a new article by clicking on this <%= link_to 'link', new_article_path %> <br/>

<table>
    <tr>
        <th> Title </th>
        <th> Description </th>
        <th> Price </th>
        <th> </th>
    </tr>

    <% @articles.each do |article| %>
    <tr>
        <td><%= article.title %></td>
        <td><%= article.description%></td>
        <td><%= article.price%></td>
        <td><%= link_to 'Show', article_path(article)%></td>
        <td><%= link_to 'Edit', edit_article_path(article)%></td>
        <td><%= link_to 'Delete', article_path(article)%></td>
    </tr>
</table>
<% end %>