<h2>Showing the selected article and the article is <%= @article.title%></h2>
<p>
<strong>Title :</strong>
<%= @article.title %>
</p>

<p>
<strong>Description :</strong>
<%= @article.description %>
</p>

<p>
<strong>Price :</strong>
<%= @article.price %>
</p>

<%= link_to 'Back to home screen', articles_path %>



